name: Deploy Detection Rules to Splunk

on:
  push:
    paths:
      - 'rules/**'

jobs:
  deploy:
    runs-on: self-hosted  # <--- ubuntu-latest에서 변경
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        run: |
          # Self-hosted 환경에서는 python이 설치되어 있어야 합니다.
          python3 -m pip install requests pyyaml

      - name: Deploy to Splunk
        env:
          SPLUNK_URL: "https://localhost:8089" # Runner가 로컬이므로 localhost 가능
          SPLUNK_PASSWORD: ${{ secrets.SPLUNK_PASSWORD }}
          JIRA_ACCOUNT: "rybbit3"
        run: python3 deploy.py